@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue100: #004a52;
  --blue200: #00c8cb;
  --blue300: #92f6ff;
  --blue400: #c2ffff;
  --blue500: #e7ffff;
  --grey100: #181818;
  --grey200: #262626;
  --grey300: #4d4d4d;
  --grey400: #7f7f7f;
  --grey500: #c9c9c9;
  --grey600: #e3e3e3;
  --yellow200: #fcff64;
  --yellow300: #fdffa7;

  --logo-rgb: var(--blue200);
  --logo-color: var(--blue200);

  --bg-primary-color: var(--grey600);
  --bg-secondary-color: var(--grey500);
  --bg-accent-color: var(--blue500);
  --bg-menu-color: white;
  --bg-booking-button-idle-color: var(--yellow300);
  --bg-booking-button-hover-color: var(--yellow200);
  --image-filter-color: rgba(255, 255, 255, 0.1);

  --text-primary-color: black;
  --text-secondary-color: var(--grey300);
  --text-accent-color: var(--blue100);
  --text-menu-color: var(--grey300);
  --text-svg-color: black;
  --text-booking-button-color: var(--grey300);
  --text-hyperlink-color: var(--blue200);

  --shadow-card-color: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary-color: var(--grey100);
    --bg-secondary-color: var(--grey200);
    --bg-accent-color: var(--blue100);
    --bg-menu-color: black;
    --bg-booking-button-idle-color: var(--yellow200);
    --bg-booking-button-hover-color: var(--yellow300);
    --image-filter-color: rgba(0, 0, 0, 0.2);

    --text-primary-color: white;
    --text-secondary-color: white;
    --text-accent-color: var(--blue200);
    --text-menu-color: var(--grey600);
    --text-svg-color: var(--blue300);
    --text-booking-button-color: black;
    --text-hyperlink-color: var(--blue300);

    --shadow-card-color: rgba(120, 120, 120, 0.1);
  }
}

body {
  color: var(--text-primary-color);
  background-color: var(--primary-bg);
  scroll-behavior: smooth;
}

.embla__container {
  height: 100%;
}

.embla__slide {
}

.overlay-filter {
  position: absolute;
  top: 0%;
  pointer-events: none;
}

.instagram-fade {
  background: linear-gradient(
    0deg,
    black 0rem,
    black 2rem,
    rgba(0, 0, 0, 0) 12rem,
    rgba(0, 0, 0, 0) 100%
  );
}

.overlay-button {
  position: absolute;
  display: block;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.masonry {
  display: flex;
  margin-left: -1rem;
  width: auto;
}

.masonry-column {
  padding-left: 1rem;
  background-clip: padding-box;
}

.embla__prev,
.embla__next {
  color: rgba(0, 0, 0, 0.3);
  transition: all;
  transition-duration: 200ms;
  position: absolute;
  top: 50%;
  pointer-events: all;
  z-index: 10;
}

.embla__prev:hover,
.embla__next:hover {
  color: rgba(0, 0, 0, 0.6);
}

.embla__prev:disabled,
.embla__next:disabled {
  color: transparent;
}

.embla__next {
  transform: translate(0%, -50%);
}

.embla__prev {
  rotate: 180deg;
  transform: translate(25%, 50%);
}

.embla__dot {
  transition: all;
  transition-duration: 200ms;
  border-radius: 100%;
  aspect-ratio: 1.0;
  width: 0.5rem;
  background-color: var(--blue100);
  opacity: 60%;
  cursor: pointer;
  z-index: 10;
}

.embla__dot:hover {
  opacity: 90%;
}

.embla__dot--selected {
  background-color: var(--blue200) !important;
}